.app {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-row {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        width:  54rem
    }

    .main {
        width:  54rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .filters {
            width:  52rem;
            display: flex;
            justify-content: space-between;
        }

        .recipe-list {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            border: 0.1rem solid black;
            padding: 1rem 0 0 1rem;
            margin-bottom: 1rem;

            .recipe-card {
                border: 0.1rem solid black;
                padding: 0.4rem;
                margin-right: 1rem;
                margin-bottom: 1rem;
                width: 16rem;

                .recipe-image {
                    display: flex;
                    justify-content: center;
                }
                
                .recipe-image img {
                    height: 12rem;
                    object-fit: cover;
                }
            }
        }

        .pagination {
            width: 15rem;

            .selected-page {
                background: white;
            } 
        }        
    }
}

.button {
    margin: 0.25rem;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

.apart {
    display: flex;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.add-edit-recipe-form-container {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-bottom: 3rem;

    .top-form-section {
        display: flex;
        
        .image-input, .fields {
            width: 48%;
        }
    
        .image-input {
            text-align: center;

            .image-preview {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 20rem;
            
                .image {
                    object-fit: cover;
                    width: 12rem;
                    border-radius: 0.4rem 0.4rem 0 0;
                }
            }
        }
    
        .fields {
            display: flex;
            flex-direction: column;
    
            label {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
            }
        }
    }

    .ingredients-list {
        display: flex;
        flex-direction: column;
    
        .ingredients-table {
            margin-bottom: 1rem;
            border: 0.1rem solid black;
            border-collapse: collapse;

            th, td {
                border: 0.1rem solid black;
                border-collapse: collapse;
            }
        }
    
        .ingredient-form {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            label {
                display: flex;
                flex-direction: column;
                width: 26%;
            }
        }
    }    

    .action-buttons {
        display: flex;
        justify-content: space-evenly;

        .action-button {
            width: 10rem;
            height: 2rem;
        }
    }
}

.login-form-container {
    .login-form {
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
        }
    }
}












